[Desktop Entry]
Name=Blender Launcher
Comment=Download and launch Blender daily builds
Exec=blenderlauncher-gui
Icon=org.blenderlauncher.BlenderLauncher
Terminal=false
Type=Application
Categories=Graphics;3DGraphics;Development;
Keywords=blender;3d;modeling;daily;nightly;build;
StartupNotify=true
StartupWMClass=org.blenderlauncher.BlenderLauncher
